<% layout('layouts/boilerplate')%>
<div class="mt-24 container mx-auto">
  <div class="mb-5 shadow-sm py-6 bg-white rounded-md mt-5 text-lg">
    <div class="flex px-10 text-gray-600 text-2xl items-center">
      <div class="h-96 w-[30rem] mt-2">
        <img
          src="<%= pet.images %>"
          class="object-cover h-full w-full rounded-md shadow-sm"
        />
      </div>
      <div class="ml-10 space-y-8 text-2xl">
        <div>
          <span class="font-bold">Name: </span><%= pet.pet_name %><span></span>
        </div>
        <div>
          <span class="font-bold">Breed:</span> <span><%= pet.breed %></span>
        </div>
        <div>
          <span class="font-bold">Age:</span>
          <span><%= pet.age %></span>
        </div>
        <div>
          <a href="" class="font-bold text-primary"><%= pet.shelter_name %></a>
        </div>
        <button
          onclick="window.location.href=`/pets/<%= pet.pet_id %>/adopt`"
          class="w-fit px-6 py-3 mt-10 bg-primary text-white hover:bg-primary_light rounded-md font-semibold"
        >
          Adopt me!
        </button>
      </div>
      <!-- <div>Breed</div> -->
    </div>
    <div class="px-10">
      <div class="text-4xl font-bold text-gray-600 mt-10 mb-6">About:</div>
      <p class="text-gray-600 text-2xl leading-10"><%= pet.description %></p>
    </div>
    <div class="px-10">
      <div class="text-3xl font-bold text-gray-600 mt-10 mb-6">
        Special Care:
      </div>
      <p class="text-gray-600 text-2xl leading-10">
        <%= pet.special_care_required %>
      </p>
    </div>
  </div>
</div>
